<div>
  <myui-button (click)="log('hello 1')">hello 1!</myui-button>
  <myui-button (click)="log('hello 2')">hello 2!</myui-button>
  <myui-button (click)="log('hello 3')">hello 3!</myui-button>
  <myui-button (click)="log('hello 4')">hello 4!</myui-button>
</div>

<div>
  <myui-button (click)="log('foo 1')">foo 1!</myui-button>
  <myui-button (click)="log('foo 2')">foo 2!</myui-button>
  <myui-button (click)="log('foo 3')">foo 3!</myui-button>
  <myui-button (click)="log('foo 4')">foo 4!</myui-button>
</div>
