.cdk-drag-preview {
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 100ms ease-in;
}

.cdk-drop-list-dragging div:not(.cdk-drag-placeholder) {
  transition: transform 100ms ease-in;
}
